<!-- Sets Header Information of the Dashboard and loads css/js/icon -->
<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <title>PineCone Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/components/buttons.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/components/confirm-dialog.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/components/stats-counter.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/dashboard.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/sidebar.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/settings.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/pinecone_simulator.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/console.css') }}"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='img/favicon.ico') }}"
    />
  </head>
  <script src="{{ url_for('static', filename='icons/feather.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/utils/confirm-dialog.js') }}"></script>
  <script src="{{ url_for('static', filename='js/utils/button-feedback.js') }}"></script>
  <script src="{{ url_for('static', filename='js/utils/input-validation.js') }}"></script>
</html>
