<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <title>PineCone Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/dashboard.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/sidebar.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/settings.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/pinecone_simulator.css') }}"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='img/favicon.ico') }}"
    />
  </head>
  <script src="https://unpkg.com/feather-icons"></script>
  <script src="{{ url_for('static', filename='js/utils/input-validation.js') }}"></script>
</html>
